/* 
  Project Portfolio Styles 
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
  background-color: aqua;
}

.myHeader {
  text-align: center;
  font-style: oblique;
  font-size: xx-large;
  font-weight: bold;
}

.container {
  margin-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto; /* Center container */
}

.footer {
  max-width: 1100px;
  margin-bottom: 1%;
  width: 100%;
  height: 3em;
  background-color: rgb(248, 250, 252);
  margin: 0 auto; /* Center container */
}

.bg {
  background: url(./images/bgk.jpg) no-repeat 50% 50%;
}

/* Image Styles (Consolidated) */
.web-page img,
.tdd img,
.dom img,
.dom-test img,
.greetings img,
.greetings-test img,
.registration img,
.registration-test img,
.setttingsWebapp img,
.greetingsWebapp img,
.registrationNoWebapp img,
.waiterAvailability img {
  float: left;
  width: 50%;
  padding: 1em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.bg1 img {
  float: inherit;
}

a {
  color: blue;
}

.tab p {
  padding: 1.5em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  font-stretch: expanded;
  font-style: oblique;
  font: 2em sans-serif;
}

h1 {
  font-weight: 500;
  line-height: 1;
  margin: 10px 0px;
  font: 4em sans-serif;
  font-stretch: extra-expanded;
}

img {
  width: 100%;
  padding: 5%;
  margin: 2%;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  width: 60%;
  margin: 0 auto; /* Center container */
}

.profile img {
  box-shadow: lightslategrey;
  border-radius: 50%;
}

.myTabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 25px auto; /* Center container */
  padding: 25px;
}

.myTabs input[type="radio"] {
  display: none;
}

.myTabs label {
  padding: 10px;
  background: rgb(206, 193, 193);
  font-weight: bolder;
  padding-left: 75px;
  padding-right: 75px;
  width: 33%;
}

.myTabs .tab {
  width: 99%;
  background-color: rgb(247, 250, 244);
  padding: 30px;
  order: 2;
  display: none;
}

.myTabs input[type='radio']:checked + label + .tab {
  display: block;
}

.myTabs input[type='radio']:checked + label {
  background-color: #fff;
}

.front-end {
  display: flex;
}

.dom p,
.tdd p {
  padding: 15px;
}

.front {
  margin-bottom: 5%;
}

/* Responsive Styles */

@media (max-width: 800px) {
  .profile {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto; /* Center container */
  }

  .front-end {
    display: flex;
  }
}

@media (max-width: 688px) {
  .front-end {
    display: flex;
  }

  .profile {
    display: flex;
    flex-direction: column-reverse;
  }

  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: stretch;
  }
}
