@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', 'sans-serif';
    color: #555;    
}

.bg {
    background: url(./images/bgk.jpg) no-repeat 50% 50%;
  } 
.web-page img{
    float: left;
    width: 50%;    
}
.tdd img{
    float: left;
    width: 50%;
}
.dom img{
    float: left;
    width: 50%;
}
.dom-test img{
    float: left;
    width: 50%;
}
.greetings img{
    float: left;
    width: 50%;
}
.greetings-test img{
    float: left;
    width: 50%;   
}
.registration img{
    float: left;
    width: 50%;
}

.bg1 img{
    float: inherit;
}

a{
    color: blue;
}
.tab p{
    padding: 1.5em;
}
    
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-stretch: expanded;
    font-style: oblique;
    font: 2em sans-serif;
}

h1{
    font-weight: 500;
    line-height: 1;
    margin: 10px 0px;
    font: 4em sans-serif;
    font-stretch: extra-expanded;
}
img{
    width: 100%;
    padding:5%;
    margin: 2%;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-self:stretch;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.profile img{
    box-shadow: lightslategrey;
    border-radius: 50%;
}

.myTabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 25px auto;
    padding: 25px;
}
.myTabs input[type="radio"]{
    display: none;
}
.myTabs label{
    padding: 10px;
    background: rgb(206, 193, 193);
    font-weight: bolder;
    padding-left:75px;
    padding-right: 75px;
    width: 33%;
}
.myTabs .tab{
    width: 99%;
    background-color: #fff;
    padding: 30px;    
    order: 2;
    display:  none;
}

.myTabs input[type='radio']:checked + label + .tab {
    display: block;
}
.myTabs input[type='radio']:checked + label{
    background-color: #fff;
}
.front-end{
    display: flex;
}

.dom p{
    padding: 15px;
}
.tdd p{
    padding: 15px;
}
.front{
    margin-bottom: 5%;
}
@media (max-width: 800px){
    .profile{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .front-end{
        display: flex;
    }
    
}
@media (max-width:688px){
    .front-end{
        display: flex;
    }
    .profile{
        display: flex;
        flex-direction: column-reverse;
    }
    h1{
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: stretch;
    }
}